:root {
  --main-light: #ECEFF1;
  --main-medium: #ADBCC3;
  --main-dark: #313C42;
}

@font-face {
    font-family: Brandon_reg;
    src: url(../font/Brandon_reg.otf);
}

* {
  border: 0px;
  margin: 0px;
  padding: 0px;
  font-family: "Brandon_reg", sans-serif;
  box-sizing: border-box;
}

body {
  padding-bottom: 50px;
}

.App {
  text-align: center;
}

.logo {
  position: absolute;
  top: 35px;
  left: 60px;
  height: 60px;
}

.logo:hover {
  cursor: pointer;
}

.menu {
}

.MenuSection {
  display: inline-block;
  width: 180px;
  height: 70px;
  border: solid #ECEFF1;
  line-height: 70px;
  text-align: left;
}

.selected {
  background-color: var(--main-dark);
}

.explore {
  border-width: 0px 1px 2px 2px;
  border-radius: 0px 0px 0px 8px;
}

.profile {
  border-width: 0px 1px 2px 1px;
}

.create {
  border-width: 0px 2px 2px 1px;
  border-radius: 0px 0px 8px 0px;
}

.MenuSection img {
  height: 40px;
  margin-top: 15px;
  margin-left: 30px;
  vertical-align: center;
}

.MenuSection p {
  color: var(--main-medium);
  display: inline;
  position: absolute;
  margin-left: 10px;
}

.MenuSection:hover {
  background-color: var(--main-light);
  cursor: pointer;
}

.selected:hover {
  background-color: var(--main-dark);
}

.Header {
  width: 540px;
  height: 120px;
  margin: 60px auto 0 auto;
  border: 2px solid #ECEFF1;
  border-radius: 8px;
}

.Header img {
  height: 60px;
  margin-top: 30px;
}

.Header div {
  display: inline-block;
  text-align: left;
  margin-left: 20px;
}

.Header h1 {
  font-size: 30px;
  color: var(--main-dark);
}

.Header p {
  font-size: 20px;
  color: var(--main-medium);
}

.by {
  color: var(--main-medium);
}

.dateAndTime {
  color: var(--main-medium);
  margin-left: 20px;
}

.PaletteCard {
  position: relative;
  width: 540px;
  height: 260px;
  margin: 40px auto 0 auto;
  border: 2px solid #ECEFF1;
  border-radius: 8px;
}

.palette-logo {
  position: absolute;
  top: 30px;
  right: 30px;
  height: 40px;
}

.palette-title {
  font-size: 30px;
  float: left;
  margin-left: 50px;
  margin-top: 30px;
}

.palette-author {
  font-size: 20px;
  float: left;
  clear: both;
  margin-left: 50px;
}

.colors {
  float: left;
  clear: both;
  margin-left: 50px;
}

.colors div {
  position: relative;
  height: 50px;
  width: 50px;
  background-color: var(--main-medium);
  border-radius: 8px;
  margin-right: 15px;
  margin-top: 20px;
  display: inline-block;
}

.colors div:hover .color-tooltip {
  display: block;
}

.colors div:hover {
  cursor: pointer;
}

.color-tooltip {
  background-color: #fff;
  display: none;
  position: absolute;
  top: -50px;
  left: -30px;
  border: 2px solid #ECEFF1;
  padding: 5px 30px;
  font-size: 13px;
  border-radius: 8px;
  color: var(--main-medium);
}

.create-card {
  position: relative;
  width: 540px;
  margin: 40px auto 0 auto;
  border: 2px solid #ECEFF1;
  border-radius: 8px;
  padding-bottom: 30px;
}

.create-form {
  text-align: left;
  color: var(--main-dark);
}

.create-form input {
  color: var(--main-dark);
  border: none;
  border-bottom: 2px solid var(--main-medium);
}

.create-form input:focus {
  outline: none;
}

.create-title {
  font-size: 30px;
  float: left;
  margin-left: 50px;
  margin-top: 30px;
}

.create-author {
  font-size: 20px;
  float: left;
  clear: both;
  margin-left: 50px;
  margin-bottom: 20px;
}

.create-color {
  margin-top: 15px;
  width: 250px;
  display: block;
  height: 50px;
  clear: both;
  margin-left: 50px;
  position: relative;
}

.create-colorbox {
  height: 50px;
  width: 50px;
  background-color: var(--main-medium);
  border-radius: 8px;
}

.create-colortext {
  font-size: 20px;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 50px;
  line-height: 50px;
}

.create-color p {
  position: absolute;
  top: 0px;
  right: -30px;
  line-height: 50px;
  font-size: 20px;
  color: var(--main-medium);
}

.create-color p:hover {
  color: var(--main-dark);
  cursor: pointer;
}

.another-color {
  height: 60px;
  width: 200px;
  border: 2px solid #ECEFF1;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  line-height: 60px;
  color: var(--main-medium);
}

.another-color:hover {
  background-color: var(--main-dark);
  cursor: pointer;
}

.create-button-card {
  position: relative;
  width: 540px;
  margin: 40px auto 0 auto;
  border: 2px solid #ECEFF1;
  border-radius: 8px;
  padding: 20px;
}

.create-button {
  height: 60px;
  width: 200px;
  border: 2px solid #ECEFF1;
  border-radius: 8px;
  margin: 0 auto;
  text-align: center;
  line-height: 60px;
  color: var(--main-medium);
}

.create-button:hover {
  background-color: var(--main-dark);
  cursor: pointer;
}

@media (max-width: 850px) {
  .logo {
    display: none;
  }
}
